{% extends "purebase.html" %}
{% block inner_body %}
<div class="header">
  <h1>Sendgrid Console</h1>
</div>
<div class="content">
  <h1>Send single email</h1>
  <form class="pure-form">
    <fieldset>
        <legend>A compact inline form</legend>

        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">

        <label for="remember">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
  </form>
</div>
{% endblock %}
