*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.DS_Store
local-db.sqlite

.coverage
*flymake*
*#*
.*#*
*.#*
.*.#*
docs/source_build/*
_public/
kepler/static/vendor
kepler/static/.webassets-cache
kepler/static/build
.vagrant/
deploy/salt/*/id_rsa*
